php_flag magic_quotes_gpc Off
php_value magic_quotes_gpc Off

# Enable rewrite engine and route requests to framework
RewriteEngine On

# Some servers require you to specify the `RewriteBase` directive
# In such cases, it should be the path (relative to the document root)
# containing this .htaccess file
#
# RewriteBase /

RewriteRule autoload/.*$ - [R=404]
RewriteRule db/.*$ - [R=404]
RewriteRule exports/.*$ - [R=404]
RewriteRule imports/.*$ - [R=404]
RewriteRule lib/.*$ - [R=404]
RewriteRule tmp/.*$ - [R=404]
RewriteRule ui/.htm$ - [R=404]

RewriteCond %{REQUEST_URI} \.ini$
RewriteRule \.ini$ - [R=404]

RewriteCond %{REQUEST_URI} \.html?$
RewriteRule \.html?$ - [R=404]

RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L,QSA,E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

AddDefaultCharset UTF-8
