.topBar {
	width:100%;
	background-color: #EEEEEE;
}

.topBarItem {
	padding-right: 5px;
	padding-left:  5px;
}

.leftBar {
	background-color: #EEEEEE;
	float: left;
	margin-top: 16px;
	padding-right: 10px;
}

.content {
	float: left;
	margin-left: 10px;
}

.reserviert {
	background-color: #88AAFF;
}

.vergeben {
	background-color: #AAAAAA;
}

.unreserviert {
	background-color: #88FF88;
}

.evenRow {
	background-color: #EEEEEE;
}

.unevenRow {
	background-color: white;
}

.stretchButton {
	display:block;
	width:100%;
}

.lehrerAuswertungNameCol {
	min-width:300px;
	border:1px solid black;
}

.tabNoBorder {
	border:0px solid white;
	border-collapse:collapse;
}

table.tabNoBorder th,
table.tabNoBorder td {
	border:1px solid black;
}

.noBorderCell {
	border:0px solid black !important;
}

.borderCell {
	border:1px solid black;
}

.tabTermCell {
	border:1px solid white;
	font-weight: bold;
}

.tabDataCell {
	border:1px solid white;
}

.textEmphasis {
	font-weight:bold;
}

.gesperrt {
	background-color: #FF8888;
}

.nichtGesperrt {
	background-color: #FFFFFF;
}